<div class="repeater-item">
    {{#if item-title}}
    <h2>{{ item-title }}</h2>
    {{/if }}
    {{#if item-text}}
    <p>{{ item-text }}</p>
    {{/if }}
    <a class="cta" href="">Shop now <img src="svg/icon-arrow.svg" alt=""></a>
</div>