{{!-- <nav>
    {{> menu }}
</nav> --}}

<div class="grid">
    <div class="slider">
        <div class="slider-image stack">
            {{#each list }}
            {{> images }}
            {{/each }}
        </div>
        <div class="slider-text stack">
            {{#each list }}
            {{> repeater }}
            {{/each }}
        </div>
    </div>
    <div class="footer">
        <img class="decor-1" src="images/image-about-dark.jpg" alt="">
        <div class="text-section">
            <h3>About our furniture</h3>
            <p>Our multifunctional collection blends design and function to suit your individual taste.
                Make each room unique, or pick a cohesive theme that best express your interests and what
                inspires you. Find the furniture pieces you need, from traditional to contemporary styles
                or anything in between. Product specialists are available to help you create your dream space.</p>
        </div>
        <img class="decor-2" src="images/image-about-light.jpg" alt="">
    </div>
</div>